* {
    font-family: "微软雅黑";
}

.aa {
    background-color: #DeDeDe;
    height: 25px;
    padding-bottom: 3px;
    padding-top: 0px;
    padding-top: 0px;
}

.bb {
    float: right;
}

.cc1 {
    width: 67%;
    font-size: 16px;
    margin: 0 auto;
    padding-top:2px;
    padding-bottom:3px;
}

.head {
    width: 67%;
    height: 100px;
    padding-left: 0px;
    margin: 0 auto;
    margin-top: 15px;
}

#search {
    margin-top: 20px;
    float: left;
    margin-left: 70px;
    width: 500px;
    height: 45px;
    border-color: #036;
    border-width: 4px;
    border-right: none;
}

#search_submit {
    float: left;
    margin-left: 0px;
    width: 120px;
    height: 45px;
    margin-top: 20px;
    background: #036;
    color: white;
    border: none;
    font-size: 20px;
}

.head .phone {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

#head_phone {
    float: left;
    margin-top: 14px;
    font-size: 36px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}



#navigation * {
    text-decoration: none;
}

.nav * a:hover {
    color: #F90;
}

.menu {
    width: 67%;
    height: 3vw;
    margin: 0 auto;
    position: relative;
    margin-top: -10px;
}

#all_sale {
    background-color: #F90;
    color: #FFF;
}

.nav {
    list-style: none;
    height: 3vw;
    width: 100%;
    margin: 0 auto;
    background-color: #036;
}

.nav li {
    float: left;
    font-size: 1vw;
    height: 2vw;
    position: relative;
    blr: expression(this.onFocus=this.close());
    blr: expression(this.onFocus=this.blur());
}

.nav li a {
    color: #FFF;
    font-weight: bold;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
    float: left;
    height: 3vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
}

.nav li li:focus {
    -moz-outline-style: none;
}

.nav li .sub-nav {
    position: absolute;
    top: 3vw;
    list-style: none;
    background-color: #F2F2F2;
    display: none;
    z-index: 3;
    opacity: 0.8;
}

.nav li .sub-nav li {
    width: 8vw;
    height: 2vw;
    position: relative;
}

.nav li .sub-nav li a {
    text-align: center;
    color: #000;
    display: inline-block;
}

.nav li .sub-nav li a:hover {
    color: #F90;
}

.b {
    float: left;
    margin-left: 9px;
}

.c {
    color: #000;
}

.dcd {
    color: #F00;
}

.ab {
    margin: 0 auto;
    margin-top: 120px;
    width: 50%;
    border: #DCDEDC 1px solid;
}

.ac {
    float: right;
}

.ad1 {
    width: 210px;
    height: 40px;
    border: #DCDEDC 1px solid;
}

.ae {
    padding: 8px;
}

.af {
    background: url(../images/go.png);
    width: 180px;
    height: 38px;
    border: none;
}

.ag {
    float: right;
    padding-right: 12px;
    font-size: 18px;
}

.ai {
    margin: 0 auto 0 auto;
    background: url(../images/heng.png) no-repeat;
    background-position: bottom;
    width: 50%;
    height: 110px;
}

.aj {
    padding-top: 15px;
}

.ak {
    list-style: none;
    float: right;
    padding-top: 7px;
}

.al {
    margin: 0 auto 0 auto;
    background: #CCC;
    width: 50%;
    height: 620px;
    margin-top: 40px;
}

.am {
    border: #DCDEDC solid 1px;
    background: #FFF;
    width: 100%;
    height: 600px;
    padding-bottom: 30px;
    margin-left: 22px;
}

.an {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 12px;
    font-size: 18px;
    font-family: "微软雅黑";
    width: 120px;
    height: 35px;
    border: #DCDEDC 1px solid;
    border-bottom: none;
    margin-left: 23px;
    margin-top: 23px;
}

.ao {
    border-top: #DCDEDC solid 1px;
    background: #FFF;
    width: 100%;
    height: 480px;
}

.ap {
    font-size: 18px;
    font-family: "微软雅黑";
    width: 40%;
    text-align: right;
    height: 60px;
}

.aq {
    width: 240px;
    height: 30px;
    margin-left: 12px;
}

.ar {
    font-size: 18px;
    color: #FFF;
    font-family: "微软雅黑";
    text-align: center;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 180px;
    height: 40px;
    border: none;
    background: #F00;
}

#passwordme,
#nameme {
    color: #000;
    text-align: center;
    font-size: 12px;
}

.as {
    margin-left: 60px;
    margin-top: 3px;
    font-size: 24px;
    font-family: "微软雅黑";
}

.at {
    margin-top: 3px;
    font-size: 18px;
    margin-left: 30px;
    color: #F00;
}

#oldpass,
#newpass,
#renewpass,
#mi,
#quemi,
#queuser {
    margin-left: 10px;
    font-size: 16px;
    color: #F00;
    width: 340px;
}

.aq1 {
    margin-left: 12px;
    font-size: 18px;
}

.au {
    margin-top: 8px;
}

.person_center {
    position: relative;
    z-index: 2;
    width: 90%;
    height: 640px;
    margin: 0 auto;
    margin-top: 20px;
}

.ca {
    padding: 0px;
    margin: 0px;
    width: 15%;
    height: 400px;
    font-size: 22px;
    color: #000;
    font-family: "微软雅黑";
}

.cb {
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #EFEFEF;
    border-bottom: #396 1px solid;
    cursor: pointer;
}

.cc2 {
    width: 83%;
    height: 640px;
    float: right;
    margin-top: -400px;
}

.cd {
    width: 100%;
    height: 100%;
    border: #CCC 1px solid;
}

.ce {
    background: #096;
}

.hide {
    display: none;
}

#goods_table {
    width: 67%;
    margin: 0 auto;
    
    height: 640px;
    margin-top: 10px;
}

#goods_table tr td {
    
}

#goods_table:hover {
    background: #F6F6F6;
}

#head_location {
    width: 67%;
    background: #EFEFEF;
    margin: 0 auto;
    margin-top: 5px;
}
#result_count{
    width: 67%;
    background: #EFEFEF;
    margin: 0 auto;
    margin-top: 5px;
}

.present_iframe{
    height:700px;
    width:99.7%;
    frameborder:0;
    scrolling:no;
    margin:0 auto 0 auto;
    border:none;
}


.da {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width:290px;
    height: 40px;
    font-size: 20px;
    color: #000;
    font-family: "微软雅黑";
    margin-left:60px;
    margin-top:30px;
}

.db {
    width:140px;
    float:left;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color:#EFEFEF;
    border-bottom: #396 1px solid;
    cursor: pointer;
}

.dc {
    width: 80%;
    height: 400px;
    float: left;
    margin-left:60px;
    margin-top:40px;
}

.dd {
    width: 100%;
    height: 100%;
    border: #CCC 1px solid;
}

.de {
    background: #096;
}
.dd table{
	width:50%;
	height:100%;
	margin:0 auto;
}
.table_label{
	width:30%;
	text-align:right;
	padding-right:30px;
}
.table_content{
	width:70%;
	
}
.dd #userphone,#username,#userbirthday,#address{
	width:200px;
}
.result_list{
    width:67%;
    height:300px;
    
    margin:0 auto;
    margin-top:5px;
    
}
.result_list:hover{
	background:#EFEFEF;
}
button:hover{
	cursor:pointer;
}
.result_list tr{
   
}
.result_list td{
    padding-left:20px;
}
.result_photo{
    width:350px;
}
#order_submit,#detail_submit{
    width:140px; 
    background:#F00;
    color:#FFF;
    font-family:"微软雅黑";
    border:none;
    height:40px;
    font-size:18px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin-left:20px;
}
#collect_submit{
    width:140px; 
    background:#FFF;
    color:#F00;
    font-family:"微软雅黑";
    border:#F00 1px solid;
    height:40px;
    margin-left:20px;
    font-size:18px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
#deletecollect_submit,#deleteorder_submit{
    width:140px; 
    background:#036;
    color:white;
    font-family:"微软雅黑";
    height:40px;
    margin-left:20px;
    font-size:18px;
    -webkit-border-radius:8px;
    border-radius:8px;
}
.result_img{
	width:350px;
	height:300px;
}

.result_name{
	color:blue;
}
.result_price{
	color:red;
}
#goods_image{
	
	width:720px;
	height:650px;
}
#goods_name{
	color:blue;
}
#goods_price{
	color:red;
}
#image_say{
	width:67%;
	margin:0 auto;
	margin-top:20px;
}
#image_say_img{
	float:right;
	width:75%;
}
.hot_sale{
	background:red;
	width:25%;
	height:1500px;
	float:left;
}
.hot_sale_lan{
	font-size:24px;
	font-family:"微软雅黑";
	height:48px;
	color:white;
	background:#F90;
	padding-top:5px;
	padding_bottom:5px;
	text-align:center;
}
.hot_goods1{
	background:green;
}
.login1_logo{
    width:67%;
    height:120px;
    margin:0 auto;
    
}
.login1_logo_img{
    margin-left:40px;
    margin-top:20px;

}
.login1_logo_text{
    float:right;
    font-family:"微软雅黑";
    font-size:32px;
    margin-top:40px;
    margin-right:40px;
}
.login1_center{
    width:100%;
    height:720px;
    background-image: url(../images/login_bg.jpg);
    background-repeat:no-repeat;
}
.login1_div{
    width:67%;
    height:100%;
    margin:0 auto;
}
.login1_center_img{
    width:800px;
    height:500px;
    margin-top:60px;
    opacity:0.95;
}
.login1_center_div{
    width:400px;
    height:500px;
   
    margin-top:90px;
    float:right;
}
.login1_table{
    width:100%;
    height:75%;
    background-color:white;
    opacity:0.95;
}

.login1_table_td1{
    padding-left:20px;
    color:black;
    font-family: "微软雅黑";
    font-size:22px;
}
#login_userphone,#login_password{
    width:220px;
    height:50px;
    border-left:none;
    margin-top:5px;
    border-top:2px solid #E5E5E5;
}
.login1_input_img{
    margin-top:5px;
    float:left;
    margin-left:20px;
}

#login_submit{
    width:220px;
    height:50px;
    background:black;
    font-size:24px;
    color:white;
    border:none;
    margin-left:20px;
}
.login1_register{
    font-size:22px;
    margin-top:50px;
    margin-left:50px;
    
}
.inin{   
    width:67%;   
    height:20px;
    margin:0 auto;   
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#A9A9A9,endColorStr=#ffffff); /*IE*/   
    background:-moz-linear-gradient(top,#A9A9A9,#ffffff);/*火狐*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#A9A9A9), to(#ffffff));/*谷歌*/   
  
      
    background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #A9A9A9),color-stop(1, #ffffff));/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#ffffff'); /*IE6 & IE7*/  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#A9A9A9', endColorstr='#ffffff')"; /* IE8 */  
}
.register_logo{
    width:67%;
    height:110px;
    margin:0 auto;
    
}
.register_logo_img{
    float:left;
    margin-top:20px;
    border-right:2px solid #A9A9A9;
    padding-right:10px;
}
.register_logo_text{
    margin-top:60px;
    font-size:28px;
    font-family:"微软雅黑";
    color:black;
    margin-left:20px;
}
.register_div{
    width:67%;
    height:640px;
    margin:0 auto;
    margin-top:40px;
    border:1px solid black;
}
.register_table{
    width:70%;
    height:100%;
    margin:0 auto;
    
}
.register_table td:nth-of-type(odd){ 
    text-align: right;
    width:40%;
    font-size:18px;
    font-family:"微软雅黑";
}
.register_phone,.register_name,.register_password,.register_birthday,.register_address{
    width:250px;
    height:40px;
    border:1px solid black;
    font-size:18px;
    font-family:"微软雅黑";
}

.register_sex{
    font-size:18px;
    font-family:"微软雅黑";
    margin-left:20px;
    margin-top:5px;
}
#register_sex{
    margin-top:5px;
}
.register_submit{
    width:180px;
    height:40px;
    float:left;
    margin-left:360px;
    border:none;
    background:black;
    color:white;
    font-size:24px;
    font-family:"微软雅黑";
}
.register_submit:hover{
    background:#303030;
}
input{outline:none;}
.isexist_img{
    width:40px;
    height:40px;
}